<p class="h3">Patient Management</p>
<div class="mb-3" *ngFor="let data of items">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Bed Id : {{data.bedId}}</h4>
        <p class="card-text">Bed Status : {{data.bedStatus}}</p>
        <p class="card-text">Device Id : {{data.device.deviceId}}</p>
        <div *ngIf="data.bedStatus; else elseBlock">
            <a class="btn btn-success" >Add Patient</a>
        </div>
        <ng-template #elseBlock>
            <a class="mr-1 btn btn-primary" >Discharge Patient</a>
            <a class="mr-1 btn btn-primary" >Monitor Vitals</a>
        </ng-template>
        
      </div>
    </div>
  </div>
